<form [formGroup]="diffCurrencyForm" class="form">
  <div class="form-content">
    {{
      (convertToNumber(this.amount) * this.rates[this.curr]) /
        this.rates[this.diffCurrencyForm.value.currency] | number : "1.2-2"
    }}
  </div>
  <select
    class="form-select"
    formControlName="currency"
    id="currencyTwo"
    [(ngModel)]="selectedOption"
  >
    <option value="pln">PLN</option>
    <option value="dolar">USD</option>
    <option value="euro">EURO</option>
    <option value="funt">FUNT</option>
    <option value="frank">FRANK</option>
  </select>
</form>
